thirdai==0.9.5
aiohttp
aiosignal
alembic
altgraph
anyio
appnope
asn1crypto
asttokens
async-timeout
attrs
azure-core
azure-storage-blob
backcall
bcrypt
beautifulsoup4
blinker
bs4
cachetools
certifi
cffi
charset-normalizer
click
cloud-sql-python-connector
cloudpickle
colorama
comm
configparser
contourpy
courlan
cryptography
cycler
dark
databricks-cli
dataclasses-json
dateparser
debugpy
decorator
docker
entrypoints
executing
fastapi
filelock
Flask
fonttools
frozenlist
fsspec
gensim
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
gunicorn
h11
htmldate
httplib2
huggingface-hub
idna
importlib-metadata
iniconfig
ipaddress
ipykernel
ipython
isodate
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jupyter_client
jupyter_core
jusText
kiwisolver
langchain
langchain-community
langchain-core
langchainplus-sdk
langchain_openai
langcodes
langsmith
lxml
macholib
Mako
Markdown
MarkupSafe
marshmallow
marshmallow-enum
matplotlib
matplotlib-inline
mlflow
more-itertools
msal
multidict
mypy-extensions
nest-asyncio
nltk
numexpr
numpy
oauthlib
Office365-REST-Python-Client
openai
openapi-schema-pydantic
packaging
pandas
parso
pefile
pendulum
pexpect
pg8000
pickleshare
Pillow
platformdirs
pluggy
prompt-toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
Pympler
PyMuPDF
pyparsing
PyQt6
PyQt6-Qt6
PyQt6-sip
PyQt6-WebEngine
PyQt6-WebEngine-Qt6
pytest
python-dateutil
python-docx
python-dotenv
python-http-client
python-multipart
PyTrie
pytz
pytzdata
pywin32-ctypes
PyYAML
pyzmq
querystring-parser
regex
requests
requests-file
requests-oauthlib
requests-toolbelt
retrying
rsa
safetensors
scikit-learn
scipy
scramp
sendgrid
simple-salesforce
six
smart-open
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sqlparse
stack-data
starkbank-ecdsa
starlette
stripe
tabulate
tenacity
threadpoolctl
tiktoken
tld
tokenizers
tornado
tqdm
trafilatura
traitlets
transformers
typing-inspect
typing_extensions
tzdata
tzlocal
Unidecode
uritemplate
url-normalize
uvicorn
wcwidth
websocket-client
websockets
Werkzeug
yarl
zeep
zipp
urllib3